body {
  max-width: 380px;
  margin: auto;
  background: #ddd;
  font-family: 'Space Grotesk', sans-serif;
  text-align: center;
  border-top: #060E17 solid 5px;
}

img {
  display: block;
  max-width: 100%;
}

header {
  background: url(../img/bg-header.jpg);
  background-size: cover;
  padding: 20px;
  color: white;
}

.section-light {
  background: #E3F4FF;
  padding: 20px;
}

.section-dark {
  background: #060E17;
  color: #060E17;
  padding: 20px;
}

.box-blog {
  background: #E3F4FF;
  border-radius: 30px;
  padding: 20px;
}

.container-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 50px 0 50px 0;
}

footer {
  background: #060E17;
  color: gray;
  padding: 20px;
}

a {
  border-radius: 10px;
  background: #060E17;
  color: white;
  padding: 10px 20px;
  margin: 5px;
  text-decoration: none;
}

img {
  max-width: 100px;
  margin: auto;
}

.title {
  background: #060e17eb;
  padding: 20px;
}