body {
  max-width: 320px;
  margin: auto;
  background: #ddd;
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
}

header {
  background: lightcoral;
  padding: 20px;
}

.section-light {
  background: lightblue;
  padding: 20px;
}

.section-dark {
  background: lightgreen;
  padding: 20px;
}

.box-blog {
  background: pink;
  border-radius: 30px;
  padding: 20px;
}


footer {
  background: lightcoral;
  padding: 20px;
}

a {
  border-radius: 10px;
  background: lightsalmon;
}