body {
  max-width: 320px;
  margin: auto;
  background: #ddd;
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
}

header {
  background: blue;
  padding: 20px;
  color: white;
}

.section-light {
  background: lightblue;
  padding: 20px;
}

.section-dark {
  background: black;
  color: white;
  padding: 20px;
}

.box-blog {
  background: lightblue;
  border-radius: 30px;
  padding: 20px;
}


footer {
  background: black;
  color: white;
  padding: 20px;
}

a {
  border-radius: 10px;
  background: black;
  color: white;
  display: flex;
  justify-content: flex-start;
}